.contacts {
  padding: 56px 159px 63px 120px;

  position: relative;

  @media (max-width: 1360px) {
    padding: 70px 50px 70px 50px;
  }

  @media (max-width: 1199px) {
    padding: 62px 179px 62px 133px;

    display: flex;
    justify-content: center;
  }

  @include vp-767 {
    padding: 65px 15px;
    padding-bottom: 61px;
  }

  &::before {
    width: 100%;
    height: 1px;

    content: "";
    position: absolute;
    left: 0;
    top: 0;

    background-color: $color-light-slate-grey;

    @media (max-width: 1199px) {
      display: none;
    }
  }

  &__wrapper {
    @media (max-width: 1199px) {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
    }

    @include vp-767 {
      justify-items: center;
    }

    @media (max-width: 320px) {
      justify-items: start;
    }
  }

  &__title {
    margin: 0 0 38px;

    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @media (max-width: 1199px) {
      margin-bottom: 32px;

      align-self: flex-start;

      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__content {
    padding-left: 5px;

    display: grid;
    grid-template-columns: 170px auto;
    gap: 0 104px;

    font-style: normal;

    @media (max-width: 1199px) {

      grid-template-columns: 218px auto;
      padding: 0;
      gap: 0 82px;
    }

    @include vp-767 {
      grid-template-columns: auto;
      gap: 17px;
    }
  }

  &__list {
    margin: 0;

    position: relative;

    &:first-child::after {
      width: 1px;
      height: 91%;

      content: "";
      position: absolute;
      top: 5px;
      right: -35%;

      background-color: $color-light-slate-grey;

      @media (max-width: 1199px) {
        right: -22%;
      }

      @include vp-767 {
        display: none;
      }
    }

    &:last-child {
      left: 14px;

      @include vp-767 {
        left: 0;
      }
    }
  }

  &__subtitle {
    margin-bottom: 2px;

    font-weight: 700;
    line-height: 24px;

    @media (max-width: 1199px) {
      margin-bottom: 5px;

      font-size: 20px;
      line-height: 30px;
    }

    @include vp-767 {
      margin-bottom: 7px;
    }
  }

  &__text {
    margin: 0 0 20px;

    font-size: 14px;
    line-height: 21px;

    @media (max-width: 1199px) {
      margin: 0 0 19px;

      font-size: 18px;
      line-height: 27px;
    }

    &:last-child {
      margin: 0;
    }
  }
}
