.reviews-card {
  margin: 0;
  padding: 62px;
  min-height: 242px;

  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 8px 25px;

  background-color: $color-resolution-blue;
  box-shadow: 0 0 40px $color-reviews-card-shadow;

  color: $color-default-white;

  @include vp-1023 {
    padding-bottom: 58px;

    gap: 12px 31px;
  }

  @include vp-767 {
    padding: 38px 25px;
    padding-bottom: 36px;

    max-width: 226px;
    min-height: 335px;

    grid-template-columns: 68px 1fr;
    justify-items: center;

    gap: 10px 31px;
  }

  &__img-wrapper {
    grid-row: 1/3;

    @include vp-767 {
      position: relative;
      left: 16px;
    }
  }

  &__title {
    margin-top: -7px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    @include vp-767 {
      margin-top: 5px;
    }
  }

  &__text {
    margin: 0;

    line-height: 22px;

    @include vp-767 {
      text-align: center;

      grid-column: 1/3;
    }
  }
}
