.slider-button {
  padding: 0;
  width: 16px;
  height: 32px;

  display: inline-block;

  background-color: transparent;

  position: absolute;
  border: none;
  user-select: none;

  cursor: pointer;

  &::before,
  &::after {
    height: 19px;
    width: 1px;

    position: absolute;
    left: 6px;

    content: "";

    background-color: $color-dark-gray;
  }


  &::before {
    position: absolute;
    top: -2px;

    rotate: 45deg;
  }

  &::after {
    position: absolute;
    bottom: 2px;

    rotate: -45deg;
  }

  &--next {
    rotate: 180deg;
    transform: translateY(3px);
  }

  &:hover {
    scale: 1.3;
  }

  &:focus {
    outline: none;
    scale: 1.3;
  }

  &:active {
    scale: 0.8;
  }

  &.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
  }
}
