.subscriptions {
  padding: 121px 0 120px;

  position: relative;
  color: $color-sapphire;

  background-color: $color-ghost-white;

  @media (max-width: 1199px) {
    padding: 100px 0;
    padding-bottom: 105px;
  }

  @include vp-767 {
    padding: 70px 0;
    padding-top: 64px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 17px;

    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @media (max-width: 1199px) {
      margin-bottom: 21px;

      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      margin-bottom: 21px;

      font-size: 32px;
      line-height: 38px;
    }
  }

  &__background-wrapper {
    position: absolute;
    z-index: 1;
    right: -110px;
    top: 66%;
    rotate: 330deg;

    @media (max-width: 1224px) {
      right: -23px;
      top: 85.4%;
      scale: 1.3;
      rotate: 1deg;
    }

    @include vp-767 {
      display: none;
    }
  }
}
