.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-767 {
    width: 100%;
  }
}

.tabs__controls {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-bottom: 11px;
  min-width: 341px;

  display: flex;
  justify-content: center;

  list-style: none;

  border-bottom: solid $color-tabs-border;

  @media (max-width: 1199px) {
    margin-bottom: 42px;
    min-width: 332px;

    justify-content: space-between;
  }

  @include vp-767 {
    margin-bottom: 34px;
    min-width: 290px;
  }
}

.tabs__control {
  margin: 0;
  padding: 0;
  min-width: auto;
  justify-content: center;

  position: relative;

  background-color: transparent;

  color: $color-manatee;

  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  text-transform: lowercase;
  letter-spacing: normal;

  cursor: pointer;

  @media (max-width: 1199px) {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }

  &.is-active {
    color: inherit;
    pointer-events: none;

    &::after {
      height: 2px;
      width: 100%;

      content: "";
      display: block;
      position: absolute;

      bottom: -13px;
      left: -1px;

      background-color: $color-crimson;
    }
  }
}

.tabs__control-item {
  margin-right: 46px;

  &:last-child {
    margin: 0;
  }
}

.tabs__content {
  margin: 0;
  padding: 0;

  list-style: none;

  transition: height 0.3s;

  @include vp-767 {
    width: 100%;
  }
}

.tabs__element {
  width: 100%;

  display: none;

  &.is-active {
    display: block;
  }
}

.tabs__subitem {
  list-style: none;

  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 40px;

  @media (max-width: 1199px) {
    grid-template-columns: 442px;
    gap: 40px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}

.tabs__item {
  padding: 7px;

  position: relative;
  z-index: 2;

  @include vp-767 {
    min-width: 290px;
  }

  &::before {
    width: 100%;
    height: 100%;

    content: "";
    position: absolute;
    z-index: 1;

    top: 0;
    left: 0;

    background: $color-default-white;
  }

  &:hover::before {
    background: $red-to-right-button;
  }
}

.tabs__content-wrapper {
  padding: 61px 70px;
  padding-top: 53px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  z-index: 4;
  background-color: $color-default-white;

  @media (max-width: 1199px) {
    padding: 58px 35px;
  }

  @include vp-767 {
    width: 100%;

    padding-top: 44px;
    padding-bottom: 49px;
  }
}

.tabs__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 26px;
  line-height: 29px;

  @include vp-767 {
    margin-bottom: 9px;

    font-size: 22px;
    line-height: 24px;
  }
}

.tabs__subtitle {
  margin: 0;
  margin-bottom: 66px;

  font-size: 16px;
  line-height: 24px;

  color: $color-chambray;

  @include vp-767 {
    margin-bottom: 52px;
  }
}

.tabs__price-wrapper {
  margin-bottom: 36px;

  display: flex;
  align-items: center;

  @include vp-767 {
    margin-bottom: 34px;

    position: relative;
    left: 3px;
    top: 4px;
  }
}

.tabs__price {
  position: relative;
  z-index: 2;

  margin: 0;
  margin-right: 14px;

  font-weight: 700;
  font-size: 60px;
  line-height: 90px;

  color: $color-egyptian-blue;

  @include vp-767 {
    margin-right: 12px;

    font-size: 48px;
    line-height: 72px;
  }

  &::after {
    content: attr(data-price);

    position: absolute;
    left: -18px;
    bottom: -7px;

    font-family: inherit;
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;

    color: $color-whisper;

    z-index: -1;
    opacity: 0.48;

    @include vp-767 {
      font-size: 80px;
      line-height: 120px;
    }
  }
}

.tabs__simbol {
  position: relative;
  z-index: 2;

  color: $color-sapphire;

  font-size: 57px;
  font-weight: 600;

  @include vp-767 {
    font-size: 45px;
  }
}

.tabs__link {
  padding: 24px 42px 24px 44px;

  outline: 2px solid $color-sapphire;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    outline: 2px solid none;

    background: $red-to-right-button;
    color: $color-default-white;
  }
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
